# Global Malnutrition Analysis

In this project, we have analyzed several sources of data relevant to malnutrition amongst children ranging from the ages of infant to 5 years old. The major components of our analysis is as follows: 

1. Extracting data from various sources including UNICEF, World Bank and more (listed below) 
2. Combining malnutrition data into a single dataframe with information regarding wasting, overweight and stunting conditions amongst the global population of children from 1978 to 2021 
3. Analysing countries with the highest prevalence of malnutrition 
4. Developing a world heat map visualization to see the global malnutrition trend over the years 
5. Assessing a relationship, if any, between COVID deaths experienced by the country and prevalence of malnutrition among children

## Data Sources

1. The malnutrtion data is from UNICEF.org and it has the ratio of kids under 5 with stunt/severe stunting, wasted/severe wasted, and overweight problems at country-level from 1970 to 2021.(datalink: https://data.unicef.org/resources/data_explorer/unicef_f/?ag=UNICEF&df=GLOBAL_DATAFLOW&ver=1.0&dq=.NT_ANT_HAZ_NE2+NT_ANT_HAZ_NE3..&startPeriod=2016&endPeriod=2021). 

2. Country Geopandas data 

3. COVID deaths data 

4. Continent & Country Data

## 1. Data Gathering

In [39]:
# download necessary packages

import numpy as np  #calculation
import pandas as pd  #dataframe
import scipy as sp #calculation
from scipy.interpolate import interp1d #smooth plot
from scipy.interpolate import make_interp_spline #smooth plot
import seaborn as sns #graph
import matplotlib.pyplot as plt #plot
from sklearn import linear_model #linear regression
import statsmodels.api as sm #linear regression model
from seaborn import heatmap #map

In [40]:
#download datasets and show headlines

In [41]:
wasted_data = pd.read_csv("Wasted_Data.csv")
display(wasted_data[:3])

,DATAFLOW,REF_AREA:Geographic area,INDICATOR:Indicator,SEX:Sex,TIME_PERIOD:Time period,OBS_VALUE:Observation Value,UNIT_MULTIPLIER:Unit multiplier,UNIT_MEASURE:Unit of measure,OBS_STATUS:Observation Status,OBS_CONF:Observation confidentaility,...,WGTD_SAMPL_SIZE:Weighted Sample Size,OBS_FOOTNOTE:Observation footnote,SERIES_FOOTNOTE:Series footnote,DATA_SOURCE:Data Source,SOURCE_LINK:Citation of or link to the data source,CUSTODIAN:Custodian,TIME_PERIOD_METHOD:Time period activity related to when the data are collected,REF_PERIOD:Reference Period,COVERAGE_TIME:The period of time for which data are provided,AGE:Current age
0,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,AFG: Afghanistan,NT_ANT_WHZ_NE2: Weight-for-height <-2 SD (wast...,F: Female,2004,9.3,0: Units,PCNT: %,ER: External Reanalysis,F: Free,...,436.0,Reduced age range Age 0-5 months not covered ...,UNICEF/WHO/World Bank Joint Malnutrition Estim...,Summary report of the national nutrition surve...,https://data.unicef.org/topic/nutrition/malnut...,UNICEF Division of Data Analysis Planning an...,MOF: Middle of fieldwork,NaN,1997-2018,Y0T4: Under 5 years old
1,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,AFG: Afghanistan,NT_ANT_WHZ_NE2: Weight-for-height <-2 SD (wast...,F: Female,2013,8.7,0: Units,PCNT: %,RA: Reanalysed,F: Free,...,2080089.9,Oedema data was not considered in the analysis...,UNICEF/WHO/World Bank Joint Malnutrition Estim...,Afghanistan National Nutrition Survey 2013,https://data.unicef.org/topic/nutrition/malnut...,UNICEF Division of Data Analysis Planning an...,MOF: Middle of fieldwork,NaN,1997-2018,Y0T4: Under 5 years old
2,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,AFG: Afghanistan,NT_ANT_WHZ_NE2: Weight-for-height <-2 SD (wast...,F: Female,2018,4.1,0: Units,PCNT: %,RA: Reanalysed,F: Free,...,9593.1,Oedema data was not considered in the analysis...,UNICEF/WHO/World Bank Joint Malnutrition Estim...,Afghanistan Health Survey 2018,https://data.unicef.org/topic/nutrition/malnut...,UNICEF Division of Data Analysis Planning an...,MOF: Middle of fieldwork,NaN,1997-2018,Y0T4: Under 5 years old

In [42]:
# make sure the data downloaded is for wasting only
wasted_data['INDICATOR:Indicator'].unique()

array(['NT_ANT_WHZ_NE2: Weight-for-height <-2 SD (wasting)'], dtype=object)

In [43]:
ser_wasted_data=pd.read_csv("Severe_Wasted_Data.csv")
display(ser_wasted_data[:1])

,DATAFLOW,REF_AREA:Geographic area,INDICATOR:Indicator,SEX:Sex,TIME_PERIOD:Time period,OBS_VALUE:Observation Value,UNIT_MULTIPLIER:Unit multiplier,UNIT_MEASURE:Unit of measure,OBS_STATUS:Observation Status,OBS_CONF:Observation confidentaility,...,WGTD_SAMPL_SIZE:Weighted Sample Size,OBS_FOOTNOTE:Observation footnote,SERIES_FOOTNOTE:Series footnote,DATA_SOURCE:Data Source,SOURCE_LINK:Citation of or link to the data source,CUSTODIAN:Custodian,TIME_PERIOD_METHOD:Time period activity related to when the data are collected,REF_PERIOD:Reference Period,COVERAGE_TIME:The period of time for which data are provided,AGE:Current age
0,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,AFG: Afghanistan,NT_ANT_WHZ_NE3: Weight-for-height <-3 SD (seve...,F: Female,2004,4.3,0: Units,PCNT: %,ER: External Reanalysis,F: Free,...,436.0,Reduced age range Age 0-5 months not covered ...,UNICEF/WHO/World Bank Joint Malnutrition Estim...,Summary report of the national nutrition surve...,https://data.unicef.org/topic/nutrition/malnut...,UNICEF Division of Data Analysis Planning an...,MOF: Middle of fieldwork,NaN,2004-2018,Y0T4: Under 5 years old

In [44]:
ser_wasted_data['INDICATOR:Indicator'].unique() #for severe wasting only

array(['NT_ANT_WHZ_NE3: Weight-for-height <-3 SD (severe wasting)'],
      dtype=object)

In [45]:
stunted_data = pd.read_csv("Stunt_Data.csv")
display(stunted_data[:1])

,DATAFLOW,REF_AREA:Geographic area,INDICATOR:Indicator,SEX:Sex,TIME_PERIOD:Time period,OBS_VALUE:Observation Value,UNIT_MULTIPLIER:Unit multiplier,UNIT_MEASURE:Unit of measure,OBS_STATUS:Observation Status,OBS_CONF:Observation confidentaility,...,WGTD_SAMPL_SIZE:Weighted Sample Size,OBS_FOOTNOTE:Observation footnote,SERIES_FOOTNOTE:Series footnote,DATA_SOURCE:Data Source,SOURCE_LINK:Citation of or link to the data source,CUSTODIAN:Custodian,TIME_PERIOD_METHOD:Time period activity related to when the data are collected,REF_PERIOD:Reference Period,COVERAGE_TIME:The period of time for which data are provided,AGE:Current age
0,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,AFG: Afghanistan,NT_ANT_HAZ_NE2: Height-for-age <-2 SD (stunting),F: Female,2004,58.5,0: Units,PCNT: %,ER: External Reanalysis,F: Free,...,436.0,Reduced age range Age 0-5 months not covered ...,UNICEF/WHO/World Bank Joint Malnutrition Estim...,Summary report of the national nutrition surve...,https://data.unicef.org/topic/nutrition/malnut...,UNICEF Division of Data Analysis Planning an...,MOF: Middle of fieldwork,NaN,1997-2018,Y0T4: Under 5 years old

In [46]:
stunted_data['INDICATOR:Indicator'].unique() #stunting only

array(['NT_ANT_HAZ_NE2: Height-for-age <-2 SD (stunting)'], dtype=object)

In [47]:
ser_stunted_data = pd.read_csv("Severe_Stunt_Data.csv")
display(ser_stunted_data[:1])

,DATAFLOW,REF_AREA:Geographic area,INDICATOR:Indicator,SEX:Sex,TIME_PERIOD:Time period,OBS_VALUE:Observation Value,UNIT_MULTIPLIER:Unit multiplier,UNIT_MEASURE:Unit of measure,OBS_STATUS:Observation Status,OBS_CONF:Observation confidentaility,...,WGTD_SAMPL_SIZE:Weighted Sample Size,OBS_FOOTNOTE:Observation footnote,SERIES_FOOTNOTE:Series footnote,DATA_SOURCE:Data Source,SOURCE_LINK:Citation of or link to the data source,CUSTODIAN:Custodian,TIME_PERIOD_METHOD:Time period activity related to when the data are collected,REF_PERIOD:Reference Period,COVERAGE_TIME:The period of time for which data are provided,AGE:Current age
0,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,AFG: Afghanistan,NT_ANT_HAZ_NE3: Height-for-age <-3 SD (Severe ...,F: Female,2004,30.9,0: Units,PCNT: %,ER: External Reanalysis,F: Free,...,436.0,Reduced age range Age 0-5 months not covered ...,UNICEF/WHO/World Bank Joint Malnutrition Estim...,Summary report of the national nutrition surve...,https://data.unicef.org/topic/nutrition/malnut...,UNICEF Division of Data Analysis Planning an...,MOF: Middle of fieldwork,NaN,2004-2018,Y0T4: Under 5 years old

In [48]:
ser_stunted_data['INDICATOR:Indicator'].unique() #severe stunting only

array(['NT_ANT_HAZ_NE3: Height-for-age <-3 SD (Severe Stunting)'],
      dtype=object)

In [49]:
overweight_data = pd.read_csv("Overweight_Data.csv")
display(overweight_data[:1])

,DATAFLOW,REF_AREA:Geographic area,INDICATOR:Indicator,SEX:Sex,TIME_PERIOD:Time period,OBS_VALUE:Observation Value,UNIT_MULTIPLIER:Unit multiplier,UNIT_MEASURE:Unit of measure,OBS_STATUS:Observation Status,OBS_CONF:Observation confidentaility,...,WGTD_SAMPL_SIZE:Weighted Sample Size,OBS_FOOTNOTE:Observation footnote,SERIES_FOOTNOTE:Series footnote,DATA_SOURCE:Data Source,SOURCE_LINK:Citation of or link to the data source,CUSTODIAN:Custodian,TIME_PERIOD_METHOD:Time period activity related to when the data are collected,REF_PERIOD:Reference Period,COVERAGE_TIME:The period of time for which data are provided,AGE:Current age
0,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,AFG: Afghanistan,NT_ANT_WHZ_PO2: Weight-for-height >+2 SD (over...,F: Female,2004,2.6,0: Units,PCNT: %,ER: External Reanalysis,F: Free,...,436.0,Reduced age range Age 0-5 months not covered ...,UNICEF/WHO/World Bank Joint Malnutrition Estim...,Summary report of the national nutrition surve...,https://data.unicef.org/topic/nutrition/malnut...,UNICEF Division of Data Analysis Planning an...,MOF: Middle of fieldwork,NaN,1997-2018,Y0T4: Under 5 years old

In [50]:
overweight_data['INDICATOR:Indicator'].unique() #overweight only

array(['NT_ANT_WHZ_PO2: Weight-for-height >+2 SD (overweight)'],
      dtype=object)

## 2. Data Cleaning

In [51]:
# data cleaning
# rename columns

# wasted
wasted_data = wasted_data.rename(columns = {"REF_AREA:Geographic area" : "Country", "SEX:Sex" : "Sex",\
                                         "TIME_PERIOD:Time period" : "Year", "OBS_VALUE:Observation Value" : "Waste_percent",\
                                           'AGE:Current age':'Age'})
# severe_wasted
ser_wasted_data=ser_wasted_data.rename(columns = {"REF_AREA:Geographic area" : "Country", "SEX:Sex" : "Sex",\
                                           "TIME_PERIOD:Time period" : "Year", "OBS_VALUE:Observation Value" : "Severe_Waste_percent",\
                                           'AGE:Current age':'Age'})
# stunted
stunted_data = stunted_data.rename(columns = {"REF_AREA:Geographic area" : "Country", "SEX:Sex" : "Sex",\
                                          "TIME_PERIOD:Time period" : "Year", "OBS_VALUE:Observation Value" : "Stunt_percent",\
                                            'AGE:Current age':'Age'})
# severe stunted
ser_stunted_data = ser_stunted_data.rename(columns = {"REF_AREA:Geographic area" : "Country", "SEX:Sex" : "Sex",\
                                          "TIME_PERIOD:Time period" : "Year", "OBS_VALUE:Observation Value" : "Severe_Stunt_percent",\
                                           'AGE:Current age':'Age'})
# overweight
overweight_data = overweight_data.rename(columns = {"REF_AREA:Geographic area" : "Country", "SEX:Sex" : "Sex",\
                                           "TIME_PERIOD:Time period" : "Year", "OBS_VALUE:Observation Value" : "Overweight_percent",\
                                            "INDICATOR:Indicator":"Overweight_Indicator",'AGE:Current age':'Age'})

In [52]:
# Only keep the relevant data columns

wasted_df=wasted_data[['Country','Sex','Year','Waste_percent','Age']]
ser_wasted_df=ser_wasted_data[['Country','Sex','Year','Severe_Waste_percent','Age']]
stunted_df=stunted_data[['Country','Sex','Year','Stunt_percent','Age']]
ser_stunted_df=ser_stunted_data[['Country','Sex','Year','Severe_Stunt_percent','Age']]
overweight_df=overweight_data[['Country','Sex','Year','Overweight_percent','Age']]

In [53]:
# combine with outer-join
combined_df=wasted_df.merge(ser_wasted_df,how='outer',on=['Country','Sex','Year','Age'])\
            .merge(stunted_df,how='outer',on=['Country','Sex','Year','Age'])\
            .merge(ser_stunted_df,how='outer',on=['Country','Sex','Year','Age'])\
            .merge(overweight_df,how='outer',on=['Country','Sex','Year','Age'])\
# shown sample lines
combined_df.head(3)

,Country,Sex,Year,Waste_percent,Age,Severe_Waste_percent,Stunt_percent,Severe_Stunt_percent,Overweight_percent
0,AFG: Afghanistan,F: Female,2004,9.3,Y0T4: Under 5 years old,4.3,58.5,30.9,2.6
1,AFG: Afghanistan,F: Female,2013,8.7,Y0T4: Under 5 years old,3.5,39.5,19.9,5.8
2,AFG: Afghanistan,F: Female,2018,4.1,Y0T4: Under 5 years old,1.4,38.1,20.0,4.2

In [54]:
# Calculate total waste percent column from adding percentage with normal waste condition and percentage with severe waste condition
combined_df['Waste_total_percent']=combined_df['Waste_percent']+combined_df['Severe_Waste_percent']
combined_df['Stunt_total_percent']=combined_df['Stunt_percent']+combined_df['Severe_Stunt_percent']
combined_df.head(1)

,Country,Sex,Year,Waste_percent,Age,Severe_Waste_percent,Stunt_percent,Severe_Stunt_percent,Overweight_percent,Waste_total_percent,Stunt_total_percent
0,AFG: Afghanistan,F: Female,2004,9.3,Y0T4: Under 5 years old,4.3,58.5,30.9,2.6,13.6,89.4

In [55]:
# pop the previous waste & stunt columns, only keep the sum column
cols=['Waste_percent','Severe_Waste_percent','Stunt_percent','Severe_Stunt_percent']
for c in cols:
    combined_df.pop(c)
combined_df.head(1)

,Country,Sex,Year,Age,Overweight_percent,Waste_total_percent,Stunt_total_percent
0,AFG: Afghanistan,F: Female,2004,Y0T4: Under 5 years old,2.6,13.6,89.4

In [56]:
# Observe properties of some columns
# 1. Is age all under 5?
combined_df['Age'].unique()
print('All data are for kids under 5 years old.')

All data are for kids under 5 years old.

In [57]:
# Since the data only for kids under 5, we can delete this column 
del combined_df['Age']

In [58]:
# 2. Format sex column
combined_df['Sex'].unique()

array(['F: Female', 'M: Male', '_T: Total'], dtype=object)

In [59]:
# only leave the "Total" for analysis
combined_df["Sex"] = combined_df["Sex"].str[1]
combined_df=combined_df[combined_df["Sex"]=='T']

In [60]:
# 3. Format countries and regions
country_count=len(combined_df['Country'].unique())
print('There are a total number of '+ str(country_count) + ' countries/regions in the DataFrame.')

There are a total number of 239 countries/regions in the DataFrame.

In [61]:
# Format countries, separate to 3 digit ISO code and name
split_countries= combined_df["Country"].str.split(':', expand=True)

# join to combine df
combined_df = split_countries.join(combined_df)

# rename columns
combined_df = combined_df.rename(columns = {0 : "ISO Code", 1 : "Country Name"})

# format the region
combined_df["Country Name"] = combined_df["Country Name"].str.strip()

# filter only the countrys not regions
combined_df = combined_df[combined_df["ISO Code"].str.contains("_")==False]

# remove previous columns
del combined_df['Country']

new_country_count=len(combined_df['Country Name'].unique())
combined_df.head(3)

,ISO Code,Country Name,Sex,Year,Overweight_percent,Waste_total_percent,Stunt_total_percent
6,AFG,Afghanistan,T,1997,6.5,NaN,NaN
7,AFG,Afghanistan,T,2004,4.6,12.1,91.1
8,AFG,Afghanistan,T,2013,5.3,13.5,60.8

In [62]:
new_country_count=len(combined_df['Country Name'].unique())
print('There are now a total number of '+ str(new_country_count) + ' countries in the DataFrame.')

There are now a total number of 157 countries in the DataFrame.

In [63]:
# 4. Observe the Year range
combined_df['Year'].unique()

array(['1997', '2004', '2013', '2018', '2000', '2005', '2009', '2017',
       '1987', '1992', '1995', '2002', '2006', '2012', '2019', '1996',
       '2007', '2015', '1994', '1998', '2010', '2016', '2001', '2011',
       '1989', '1986', '1990', '1991', '1993', '1999', '2003',
       '2013-02-16', '2013-06-16', '2014', '2008', '1985', '2019-03-14',
       '2019-11-07', '2019-08-12', '2019-08-27', '1988', '1998-01-01',
       '1998-12-01', '2018-03-13', '2018-04-09', '2020', '2012-01-06',
       '2012-08-06', '2019-01-15', '2019-09-15', '1994-01-15',
       '1994-12-17', '2016-01-15', '2016-05-11', '2016-12-01',
       '2015-05-22', '2015-09-05', '2018-07-24', '2018-09-27',
       '2010-08-22', '2010-10-24', '2016-05-15', '2016-10-01',
       '2006-03-28', '2006-11-01', '2010-06-05', '2010-10-29',
       '2012-04-11', '2012-07-16', '2018-04-02', '2018-10-23', '1983',
       '2015-01-09', '2015-04-26', '2019-02-09', '2019-08-16',
       '2017-07-01', '2017-09-19', '2010-10-04', '2010-12-21'],
      dtype=object)

In [64]:
# format the year columns
# year remove some date, only keep year
combined_df["Year"] =  pd.to_datetime(combined_df["Year"]).dt.year

display(combined_df)

,ISO Code,Country Name,Sex,Year,Overweight_percent,Waste_total_percent,Stunt_total_percent
6,AFG,Afghanistan,T,1997,6.5,NaN,NaN
7,AFG,Afghanistan,T,2004,4.6,12.1,91.1
8,AFG,Afghanistan,T,2013,5.3,13.5,60.8
9,AFG,Afghanistan,T,2018,4.1,6.7,57.6
20,ALB,Albania,T,1997,9.5,NaN,NaN
...,...,...,...,...,...,...,...
4623,VNM,Viet Nam,T,2016,NaN,NaN,NaN
5148,ZMB,Zambia,T,1995,NaN,NaN,NaN
5257,AUS,Australia,T,2014,17.9,NaN,NaN
5258,AUS,Australia,T,2017,22.0,NaN,NaN
5291,CAN,Canada,T,2004,10.4,NaN,NaN

In [66]:
clean_df = combined_df.groupby(by = ["Country Name", "Year"], dropna = True, as_index = False).mean()

display(clean_df)
# observe year range
#years=combined_df['Year'].unique()
#print(sorted(years))

,Country Name,Year,Overweight_percent,Waste_total_percent,Stunt_total_percent
0,Afghanistan,1997,6.5,NaN,NaN
1,Afghanistan,2004,4.6,12.1,91.1
2,Afghanistan,2013,5.3,13.5,60.8
3,Afghanistan,2018,4.1,6.7,57.6
4,Albania,1997,9.5,NaN,NaN
...,...,...,...,...,...
939,Zimbabwe,2009,3.5,2.9,46.5
940,Zimbabwe,2010,5.8,4.0,43.4
941,Zimbabwe,2014,3.6,3.9,35.4
942,Zimbabwe,2015,5.6,4.4,36.1
943,Zimbabwe,2019,2.5,3.2,29.2

In [70]:
combined_df = clean_df.join(continent, how = "left", on = ["Country Name", "Year"])

display(combined_df)

#display(clean_df[clean_df["Country Name"] == "Jamaica"])

ValueError: len(left_on) must equal the number of levels in the index of "right"

In [ ]:
# 5. Drop na rows
combined_df.dropna(inplace=True) #drop NaN

#print('There is a total of '+ str(len(combined_df)) +' countries in the dataset.')
display(combined_df[:5])

In [ ]:
# create a new column of malnutrition score for mean of the five malnutrition factor
combined_df['Mean']=combined_df.iloc[:,4:9].mean(axis=1)
combined_df.head(5)

In [ ]:
# save the column names for future uses
mal_type=['Mean','Overweight_percent','Waste_total_percent','Stunt_total_percent']
#malnutrition type 0=mean
#malnutrition type 1=overweight
#malnutrition type 2=waste
#malnutrition type 3=stunt

## 3. Creating Visualizations

In [ ]:
# now observe overweight/waste/stunt 
fig, axis = plt.subplots(2,2) 
fig.suptitle("World's Children Malnutrition Histogram")

# Mean
axis[0,0].hist(combined_df[mal_type[0]],bins=30,color='deepskyblue')
axis[0,0].set_title("Mean")
# Overweight
axis[0,1].hist(combined_df[mal_type[1]],bins=30,color='deepskyblue')
axis[0,1].set_title("Overweight")
# Waste
axis[1,0].hist(combined_df[mal_type[2]],bins=30,color='deepskyblue')
axis[1,0].set_title("Waste")
# Stunt
axis[1,1].hist(combined_df[mal_type[3]],bins=30,color='deepskyblue')
axis[1,1].set_title("Stunt")

#fig.set_size_inches(15, 10)
plt.show()

In [ ]:
# now observe overweight/waste/stunt 
fig, axis2 = plt.subplots(2,2) 
fig.suptitle("World's Children Malnutrition Boxplot")

# Mean
axis2[0,0].boxplot(combined_df[mal_type[0]])
axis2[0,0].set_title("Mean")

# Overweight
axis2[0,1].boxplot(combined_df[mal_type[1]])
axis2[0,1].set_title("Overweight")

# Waste
axis2[1,0].boxplot(combined_df[mal_type[2]])
axis2[1,0].set_title("Waste")

# Stunt
axis2[1,1].boxplot(combined_df[mal_type[3]])
axis2[1,1].set_title("Stunt")

fig.set_size_inches(15, 10)
plt.show()

In [ ]:
# observe correlation map
corr = combined_df.corr() # train is a pandas dataframe 
plt.figure(figsize = (8, 8))
heatmap(corr, cmap = 'Blues',annot=True)
plt.title('Correlation heatmap for all malnutrition types')
plt.show()

In [ ]:
# Now Observe US first
country_df=combined_df.copy()
country_df.index = country_df["ISO Code"] #make the iso code as index 

country_df.loc['USA'].plot(x='Year', y=['Overweight_percent','Waste_total_percent','Stunt_total_percent'])
plt.title('US Children Malnutrition')
plt.legend(loc='center left', bbox_to_anchor=(1, 0.5))
fig.set_size_inches(10, 10)
plt.show()

In [ ]:
# create a function to use later
# use interpld from scipy

def countryGraph(countryISO):
    countryData=country_df.loc[countryISO]
    country_name=countryData['Country Name'][1]
    x=countryData['Year']
    X_=np.linspace(x.min(), x.max(),300)
    for i in range(1,4):
        y=countryData[mal_type[i]]
        smooth_model = interp1d(x, y, kind = "cubic")
        f=smooth_model(X_)
        plt.plot(X_,f)
    plt.title(country_name+str(' Children Malnutrition Chart'))
    plt.legend(mal_type[1:])
    plt.show()
countryGraph('USA')

In [ ]:
# US has lower stunt and waste ratio but higher overweight problem for children under 5

In [ ]:
# groupby countries, find the country with highest mean malnutrition value
# because the minimum of cubic spline required datapoint is 4, we want to filter the country with 4 or more years of report
country_count=combined_df.groupby(by=['ISO Code','Country Name'],as_index=False).count()
country_count.rename(columns={'Mean':'Count'},inplace=True)
country_count=country_count[country_count['Count']>=4]
country_count=country_count[['ISO Code','Count']]
display(country_count[:3])

In [ ]:
#country_rank.sort_values(by='Mean',ascending=True,inplace=True)
country_rank=combined_df.groupby(by=['ISO Code','Country Name'],as_index=False).mean()
country_rank=country_rank.merge(country_count,how='inner',on='ISO Code')
country_rank=country_rank.sort_values(by='Mean')
display(country_rank[:3])

In [ ]:
# keep a record of the top 5 and bot 5 country with S&W mean for observation
top5=country_rank[:5]['Country Name'].tolist()
display(top5)
# the five country with least percentages of Stunt & Waste mean

In [ ]:
top5ISO=country_rank[:5]['ISO Code'].tolist()
display(top5ISO)
# 5 countries' corresponding iso code

In [ ]:
# Plot graphs to observe the trend for each malnutrition problem at country level for top 5 countries
for i in top5ISO:
    countryGraph(i)
    
plt.show()

In [ ]:
for c in zip(top5,top5ISO):
    #print(c)
    country_df.loc[c[1]].plot(x='Year', y=['Overweight_percent','Waste_total_percent','Stunt_total_percent'])
    plt.legend(loc='center left', bbox_to_anchor=(1, 0.5))
    plt.title(c[0])
plt.show()

In [ ]:
bot5=country_rank[-5:]['Country Name'].tolist()
display(bot5) # the five country with high percentages of Stunt & Waste mean

In [ ]:
bot5ISO=country_rank[-5:]['ISO Code'].tolist()
display(bot5ISO)

In [ ]:
country_df.loc['BDI']

In [ ]:
#fig, ax = plt.subplots()
for c in zip(bot5,bot5ISO):
    #print(c)
    country_df.loc[c[1]].plot(x='Year', y=['Overweight_percent','Waste_total_percent','Stunt_total_percent'])
    plt.legend(loc='center left', bbox_to_anchor=(1, 0.5))
    plt.title(c[0])
plt.show()

In [ ]:
for i in bot5ISO:
    countryGraph(i)

### Continent Analysis

In [ ]:
continent = pd.read_csv("countryContinent.csv")

continent = continent[["country", "continent"]]

joined = country_rank.merge(continent, left_on = "Country Name", right_on = "country")

joined = joined.drop(columns = "country")

In [ ]:
joined["Year"] = joined["Year"].astype(int)

display(joined[:3])

In [ ]:
display(joined[:3])

In [ ]:
by_continent = joined.groupby(["Year", "continent"], as_index = False).mean()

by_continent = by_continent.sort_values(by = ["continent", "Year"])

by_continent["Smooth Mean"] = by_continent['Mean'].rolling(2).sum()

by_continent["Waste Smooth"] = by_continent['Waste_total_percent'].rolling(5).sum()

by_continent["Stunt Smooth"] = by_continent['Stunt_total_percent'].rolling(5).sum()

by_continent["Overweight Smooth"] = by_continent['Overweight_percent'].rolling(5).sum()

display(by_continent[:3])

In [ ]:
sns.lineplot(x="Year", y="Smooth Mean",
             hue="continent",data=by_continent, palette="viridis_r", lw = 3).set(title = "Average % of Children with Malnutrition")

sns.set(rc={'figure.figsize':(15,6)})

sns.set_style("white")

In [ ]:
sns.lineplot(x="Year", y="Overweight Smooth",
             hue="continent",data=by_continent, palette="CMRmap_r", lw = 3).set(title = "% of Overweight Children")

sns.set(rc={'figure.figsize':(15,6)})

sns.set_style("white")

The percentage of overweight children in Europe is a very prominent and concerning factor.

In [ ]:
sns.lineplot(x="Year", y="Waste_total_percent",
             hue="continent",data=by_continent, palette="husl", lw = 3).set(title = "Global % of Children with Wasting")

sns.set(rc={'figure.figsize':(15,6)})

sns.set_style("white")

In [ ]:
sns.lineplot(x="Year", y="Stunt Smooth",
             hue="continent",data=by_continent, palette="CMRmap", lw = 3).set(title = "Global % of Children with Stunting")

sns.set(rc={'figure.figsize':(15,6)})

sns.set_style("white")

In [ ]:
## SHEENA TRYING SMOOTH THIS


xc=by_continent['Year']
Xc_=np.linspace(xc.min(), xc.max(),300)

yc=by_continent['Mean']
f1= interp1d(xc, yc, kind = "cubic")
yc_=f1(Xc)

# Plotting the Graph
plt.plot(Xc_, yc_)
# not working becuase x was repeated?? 
# https://stackoverflow.com/questions/68100959/plot-smooth-curve-with-duplicate-values-in-list

### Covid Analysis

In [ ]:
# combine with COVID

In [ ]:
###### 
# Download covid vaccine rate data to covid_data from https://ourworldindata.org/covid-vaccinations
covid_data=pd.read_csv("owid-covid-data.csv")
covid_data.tail(5)

In [ ]:
#before 12/31/2020, the total number of cases for each countries
covid_data=covid_data[covid_data['date']<'2021-01-01']
covid_2020=covid_data.groupby(by='iso_code').max()
display(covid_2020[:5])

In [ ]:
norm_covid_2020=covid_2020.copy()
# since cases number varies alot, apply z-score standardlization to total_cases column to normalize the case number
norm_covid_2020=norm_covid_2020.sort_values(by='total_cases')
norm_covid_2020['norm_total_cases'] = (norm_covid_2020['total_cases'] - norm_covid_2020['total_cases'].mean())\
                                    / (norm_covid_2020['total_cases'].std())    

display(norm_covid_2020[:3])

In [ ]:
#Observed the world data on last row, remove for outlier data point
norm_covid_2020=norm_covid_2020[:-1] 
display(norm_covid_2020[:3])
plt.hist(norm_covid_2020['norm_total_cases'],bins=50)
plt.show()

#### Highest % of COVID deaths in the world

In [ ]:
covid = pd.read_csv("owid-covid-data.csv")[["location", "date", "new_deaths"]]

covid["date"] = pd.to_datetime(covid["date"]).dt.year

top_10_covid = covid.groupby(["location", "date"], as_index = False).sum()

display(top_10_covid[:3])

In [ ]:
worldpop = pd.read_csv("Worldpop.csv")

worldpop["PopTotal"] = worldpop["PopTotal"].astype(int)

display(worldpop[:3])

Join total population to covid deaths for comparison

In [ ]:
top_10_covid = worldpop.merge(top_10_covid, left_on = ["Location", "Time"], right_on = ["location", "date"])

top_10_covid = top_10_covid.drop(columns = ["date", "location"])

In [ ]:
display(top_10_covid[:3])

In [ ]:
# population total in 1000's 

top_10_covid["deaths percentage"] = (top_10_covid["new_deaths"]/(top_10_covid["PopTotal"]*1000))

top_10_covid = top_10_covid[top_10_covid["Location"] != "World"]

covid_countries = top_10_covid.sort_values(by = "deaths percentage", ascending = False)

In [ ]:
covid_countries = covid_countries[:10]

display(covid_countries[:3])

In [ ]:
covid_trend = top_10_covid[top_10_covid["Location"].isin(covid_countries["Location"].unique())]

display(covid_trend[:3])

In [ ]:
sns.lineplot(x="Time", y="deaths percentage",
             hue="Location",data=covid_trend, palette="Set2", lw =3).set(title = "Countries with highest Covid-19 % of Deaths")

sns.set(rc={'figure.figsize':(15,6)})

sns.set_style("white")

In [ ]:
# continents with most covid deaths 
continent = pd.read_csv("countryContinent.csv")

continent = continent[["country", "continent"]]

covid_deaths = covid_trend.merge(continent, left_on = "Location", right_on = "country")

covid_deaths = covid_deaths.drop(columns = ["country"])

display(covid_deaths["continent"].unique())